
<div class="flex flex-col items-center justify-center" >
    <div class="md:w-3/4 w-full px-4" role="banner">
        <div class="mx-3 px-6 h-14 flex justify-between">
            <div class="flex self-center">
                <a class="text-xl font-semibold">{{ category }}</a>
            </div>
            <div class="flex gap-5 self-center">
                <a class="text-xs cursor-pointer">Overview</a>
                <a class="text-xs cursor-pointer">macOS</a>
                <a class="text-xs cursor-pointer">Tech Specs</a>
            </div>
        </div>
        
    </div>
    <div class=" w-full py-4 flex justify-center" style="background-color: #f5F5F7;">
        <span class="text-center">{{banner}}&nbsp;<a class="custom-link-style cursor-pointer"> Learn more ></a></span>
        
    </div>
</div>
